[Desktop Entry]
Name=PlotDrop
Comment=Drag and Drop graph plotting
Exec=plotdrop %F
TryExec=plotdrop
Icon=plotdrop.png
Terminal=false
Type=Application
Categories=Graphics;2DGraphics;
StartupNotify=true
